# Игнорировать ВСЁ
*

# КРОМЕ исходного кода
!*.c
!*.h

# КРОМЕ настроек VS Code
!.vscode/

# КРОМЕ служебных файлов
!.gitignore
!README.md

# Игнорируем скомпилированные файлы (явно)
build/
a.out
*.oЫ