# 1. Игнорировать ВСЁ в этой папке
*

# 2. КРОМЕ файлов исходного кода
!*.c
!*.h

# 3. КРОМЕ настроек VS Code и самого gitignore
!.vscode/
!.gitignore

# 4. КРОМЕ документации (если будете создавать)
!README.md