# Игнорировать ВСЁ
*

# Разрешить Git заходить в папку src
!src/

# КРОМЕ файлов с кодом
!*.c
!*.h

# КРОМЕ настроек VS Code
!.vscode/

# КРОМЕ служебных файлов
!.gitignore
!README.md
!Makefile

# Явно игнорируем скомпилированные файлы
build/
a.out
*.o